# Changelog

{{#tags}}
{{#ifEquals name "Unreleased"}}
## Unreleased

{{#ifContainsType commits type='feat'}}
### Features
{{#commits}}
{{#ifCommitType . type='feat'}}
- {{#eachCommitScope .}}**{{.}}**: {{/eachCommitScope}}{{{commitDescription .}}}
{{/ifCommitType}}
{{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='fix'}}
### Bug Fixes
{{#commits}}
{{#ifCommitType . type='fix'}}
- {{#eachCommitScope .}}**{{.}}**: {{/eachCommitScope}}{{{commitDescription .}}}
{{/ifCommitType}}
{{/commits}}
{{/ifContainsType}}

{{/ifEquals}}

{{#ifReleaseTag .}}
## {{name}} ({{tagDate .}})

{{#ifContainsType commits type='feat'}}
### Features
{{#commits}}
{{#ifCommitType . type='feat'}}
- {{#eachCommitScope .}}**{{.}}**: {{/eachCommitScope}}{{{commitDescription .}}}
  {{/ifCommitType}}
  {{/commits}}
  {{/ifContainsType}}

{{#ifContainsType commits type='fix'}}
### Bug Fixes
{{#commits}}
{{#ifCommitType . type='fix'}}
- {{#eachCommitScope .}}**{{.}}**: {{/eachCommitScope}}{{{commitDescription .}}}
  {{/ifCommitType}}
  {{/commits}}
  {{/ifContainsType}}

{{#ifContainsBreaking commits}}
### Breaking Changes
{{#commits}}
{{#ifCommitBreaking .}}
- {{#eachCommitScope .}}**{{.}}**: {{/eachCommitScope}}{{{commitDescription .}}}
  {{/ifCommitBreaking}}
  {{/commits}}
  {{/ifContainsBreaking}}

{{/ifReleaseTag}}
{{/tags}}