name: Java at_client CI

on:
  push:
    branches:
      - trunk
  pull_request:
    branches:
      - trunk

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  test-and-build:
    defaults:
      run:
        working-directory: at_client
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - name: Set up JDK 8 and maven cache
        uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
      - name: Build clean and run unit tests
        run: mvn --batch-mode clean test -DskipIntegrationTests=true -Dgpg.skip=true
      - name: Run integration tests
        run: mvn --batch-mode verify -DskipUnitTests=true -Dgpg.skip=true
      - name: Generate build outputs
        run: mvn --batch-mode install -DskipTests=true --update-snapshots --no-transfer-progress -Dgpg.skip=true
